<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <title>Posts</title>
</head>
<body>
    <% if(locals.user) {%> 
    <form action="/post/createpost" method="post" class="">
        <h1><%= heading %> </h1>
        <textarea name="content" id="content" cols="30" rows="10" class="form-control col-md-8 col-lg-8"></textarea>
        <input type="submit" value="POST" class="btn btn-primary shadow-none col-md-3 m-3 text-center">
    </form>
    <% } %> 

    <div class="container">
        <ul class="list-group">
            <% for(let i of commentList) { %>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <h2 class="m-2"> <%= i.createdAt%>  </h2>
                    <h3 class="m-2"><%= i.content %> </h3>
                    <h4 class="m-2"><%= i.user %> </h4>
                </li>
                <%} %> 
        </ul>
    </div>
</body>
</html>